/*#121f39 #166581 #4e3768 #321c3a #d86375 #f31cb6 #bdbdbd
font-family: "Doto", sans-serif;*/
/**/

html, body, main{
    height: 100%;
    background-color: #121f39;
    box-sizing: border-box;
    color:#bdbdbd;
}

li, ul, list-item{
    list-style: none;    
}
/* sección sobre mí*/
.presentacion{
    margin-top: 8px;
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 10px;
}

.presentacion-contenido1{
    display: flex ;
    flex-direction: row;
    align-items: center;
    background-color: #4e3768;
    padding: 0 25px 0 25px;
    border-radius:60px;
}

.presentacion-contenido2{
    display: flex ;
    flex-direction: row;
    align-items: center;
    background-color: #321c3a;
    padding: 0 25px 0 25px;
    border-radius:60px;
}

.imggata{
    width: 70px;
    height: 80px;
}

.presentacion-tituloppal{
    color: #e07787;
    font-size: 55px;
    font-family: "Doto", sans-serif;
    align-items: center;
    padding-left: 35px;
}

.presentacion-titulosec{
    color: #e47f8e;
    font-size: 45px;
    font-family: "Doto", sans-serif;
}

/* FIN sección sobre mí*/

/*INICIO formación y habilidades*/
.formacion-habilidades{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 20px;

}

.h-contacto,.h-formacion, .h-habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .formacion-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contacto-tit, .formacion-tit, .skills-tit{
    font-family: "Doto", sans-serif;
    font-size: 45px;
    color: #d86375;
}

.h-contacto {
    background-color: #321c3a;
    border-radius:60px;
}

.h-formacion{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.formacion-col1{
    background-color: #4e3768;
    border-radius:60px;
    padding: 25px;
}

.formacion-p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.formacion-col2{
    background-color: #321c3a;
    border-radius:60px;
    padding: 25px;
}

.h-habilidades{
    background-color: #4e3768;
    border-radius:60px;
}

.formacion-izq, .formacion-der{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-icons{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
/*FIN formación y habilidades*/
.prueba{
    background-color: #e47f8e;
    color: #121f39;
}